.filterContainer {
    padding: 1rem 0;
}

.filterContainer button {
    font-size: 1rem;
    margin-right: 2rem;
    min-width: 5rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    color: var(--text);
    border: 1px solid var(--accent);
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.2rem;
}

.btn:hover {
    background-color: var(--accent);

}
